.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-table {
  border-collapse: collapse;
  margin: 2rem;
}
.list-table td,
.list-table th {
  border: 1px solid black;
  padding: 1rem;
}
.strike-out {
  text-decoration: line-through;
}
